<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.data>
		<DbProviderFactories>
			<add name="Npgsql Data Provider"
				invariant="Npgsql2"
				support="FF"
				description=".Net Framework Data Provider for Postgresql Server"
				type="Npgsql.NpgsqlFactory, Npgsql"/>
			<add name="Oracle Data Provider for .NET"
				invariant="Oracle.ManagedDataAccess.Client"
				description="Oracle Data Provider for .NET"
				type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
		</DbProviderFactories>
	</system.data>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
	</startup>
</configuration>
